
.modalContainer {
  outline: 0,
}

.modalBody {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 65vw;
  min-height: 70vh;
}


.modal:focus {
  outline: none !important;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 50%;
}

.imageContainer {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  padding-right: 0;
}

.image {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}

.paintTitle {
  font-size: 48px;
  margin: 10px 0;
}

.paintType {
  font-size: 24px;
  margin: 0;
  
}

.paintSize {
  font-size: 20px;
  margin: 0;
  
}

.paintYear {
  font-size: 20px;
  color: gray;
  margin: 0;
}

.available {
  font-size: 16px;
  padding: 5px;
  background-color: rgb(211, 240, 188);
  width: 150px;
  border-radius: 5%;
}

.sold {
  font-size: 16px;
  padding: 5px;
  background-color: rgb(255, 160, 160);
  width: 150px; 
  border-radius: 5%;
}

@media (max-width: 600px) {
  .modalBody {
    flex-direction: column;
  }
  .infoContainer {
    width: 90%;
  }
  
  .imageContainer {
    width: 90%;
    padding: 25px;
  }

  .paintTitle {
    font-size: 34px;
  }
  
}