.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  align-items: bottom;
  padding: 20px;
}

.painting {
  display: block;
  max-width: 300px;
  min-width: 200px;
}
