@import url("https://fonts.googleapis.com/css2?family=Rufina&display=swap");

body::-webkit-scrollbar {
  display: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Rufina", serif;
  transition: all 1s;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
